{% comment %}
@param rnc_n column name list
@param rnc column data list (list list)
{% endcomment %}

<h1 id="newcomp">Select Comparison Targets</h1>
<table>
  <tr>
    {% for n in rnc_n %}
    <th>{{ n }}</th>
    {% endfor %}
  </tr>
  {% for pg in rnc %}
    {% if pg.0 == pg1 or pg.0 == pg2 %}
      <tr class="showing">
    {% else %}
      <tr>
    {% endif%}
    {# 1: PG1 #}
    <td>
      <input type="radio" name="pg1" value="{{ pg.0 }}"
             {% ifequal pg.0 pg1 %} checked="checked" {% endifequal %} />
    </td>
    {# 2: PG2 #}
    <td>
      <input type="radio" name="pg2" value="{{ pg.0 }}"
             {% ifequal pg.0 pg2 %} checked="checked" {% endifequal %} />
    </td>
    {# 3 #}
    <td id="selectcolstd_{{ pg.0 }}">
      {{ pg.6 }}
      <div id="selectcols_{{ pg.0 }}" class="dtip" style="display: none;">
        <p>
          {{ pg.1 }}
        </p>
      </div>
      <script type="text/javascript">
        var coltip{{pg.0}} = new Tooltip('selectcolstd_{{ pg.0 }}', 'selectcols_{{ pg.0 }}');
      </script>
    </td>
    {# 4 #}
    <td>{{ pg.5 }} <a href="/pgview/{{ pg.0 }}">Detail</a></td>
    {# 5 #}
    <td>{{ pg.2 }}</td>
    {# 6 #}
    <td class="numeric">{{ pg.3 }}</td>
    {# 7 #}
    <td class="numeric">{{ pg.4 }}</td>
    {# 8 #}
    {% if pg.6 < pg.7 %}
      <td class="strange numeric">{{ pg.7|floatformat:3 }}</td>
      <td class="strange numeric">{{ pg.8|floatformat:3 }}</td>
    {% else %}
      <td class="numeric">{{ pg.7|floatformat:3 }}</td>
      <td class="numeric">{{ pg.8|floatformat:3 }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
