<!DOCTYPE HTML>
<html lagn="en">
  <head>
    <title>Diff Comparator</title>
    <style>
      th {
      border: solid 2px black
      }
      td {
      border: solid 1px black;
      padding-left: 1ex;
      padding-right: 1ex;
      padding-top: 5px;
      padding-bottom: 5px;
      }
      td.pg2slow {
      background-color: #ff9966;
      }
      td.pg1slow {
      background-color: #6699ff;
      }
      td.strange {
      color: #ff9966;
      }
      tr.showing td {
      background-color: #00cc66;
      }
      td.numeric {
      text-align: right;
      }
    </style>
  </head>
  <body>
    {% if pg1 != pg2 %}
    <h1>Compare ProfGroup {{ pg1 }} and {{ pg2 }}</h1>
    <p>
      <img src="/img/{{ imgfilename }}"
           width="1400" />
    </p>
    <p>
      {% if reqparams.graphmode != "exectime" %}
      <a href="/pgd1/{{ reqparams.order }}/{{ reqparams.sortmode }}/exectime/{{ pg1 }}/{{ pg2 }}">Exectime View</a>
      {% endif %}
      {% if reqparams.graphmode != "ratio" %}
      <a href="/pgd1/{{ reqparams.order }}/{{ reqparams.sortmode }}/ratio/{{ pg1 }}/{{ pg2 }}">Ratio View</a>
      {% endif %}
    </p>
    <p>Strangeness threshold: {{ params.stranger_diffpercent_thresh }} (%)</p>
    <table>
      <!-- header -->
      <tr>
        <th>Function</th>
        <th>
          Time {{ pg1 }} Excl. (usec)
          <br />
          <a href="">&#9660;</a>
        </th>
        <th>
          Time {{ pg2 }} Excl. (usec)
          <br />
          <a href="">&#9660;</a>
        </th>
        <th>
          Speedup
          <br />
          ({{ pg1 }} / {{ pg2 }})
          {#<a href="/pgd1/speedup/asc/{{pg1}}/{{pg2}}">&#9650;</a>#}
          <a href="/pgd1/speedup/desc/{{pg1}}/{{pg2}}">&#9660;</a>
        </th>
        <th>
          Time diff
          <br />
          ({{ pg1 }} - {{ pg2 }})
          {#<a href="/pgd1/timediff/asc/{{pg1}}/{{pg2}}">&#9650;</a>#}
          <a href="/pgd1/timediff/desc/{{pg1}}/{{pg2}}">&#9660;</a>
        </th>
        <th>Ratio {{ pg1 }} Excl.</th>
        <th>Ratio {{ pg2 }} Excl.</th>
        <th>
          Ratio Diff
          <br />
          ({{ pg1 }} - {{ pg2 }} (%))
          {#<a href="/pgd1/ratiodiff/asc/{{pg1}}/{{pg2}}">&#9650;</a>#}
          <a href="/pgd1/ratiodiff/desc/{{pg1}}/{{pg2}}">&#9660;</a>
        </th>
      </tr>
      <!-- function comparation -->
      {% for func in result %}
      <tr>
        <td>{{ func.0 }}</td>
        <td class="numeric">
          {{ func.2 }}
        </td>
        <td class="numeric">
          {{ func.4 }}
        </td>
        <td class="numeric">
          {{ func.5 }}
        </td>
        <td class="numeric">
          {{ func.7 }}
        </td>
        <td class="numeric{% if func.1 > params.susp_ratio_thresh %} strange{% endif %}">
          {{ func.1 }}
          <br />
          <meter min="0" max="1.0" value="{{ func.1 }}"></meter>
        </td>
        <td class="numeric{% if func.3 > params.susp_ratio_thresh %} strange{% endif %}">
          {{ func.3 }}
          <br />
          <meter min="0" max="1.0" value="{{ func.3 }}"></meter>
        </td>
        <td>
          {{ func.6 }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <h1>Resource Usage Information</h1>
    <p>total: {{ rd.4 }}, user: {{ rd.0 }}, system: {{ rd.1 }}, inblock: {{ rd.2 }}, outblock: {{ rd.3 }}</p>
  </body>
</html>
