{% load accessdic %}
<!DOCTYPE HTML>
<html lagn="en">
  <head>
    <title>Diff Comparator</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <script type="text/javascript" src="/script/p.js"></script>
  </head>
  <body onLoad="makeIndex();">
    <div id="container">
      <div id="toc">
      </div>
      {% if pg1 != pg2 %}
      <h1>
        Comparison Graph between
        <a id="toplink_pg1" href="/pgview/{{ pg1 }}" onMouseOver="teston();" onMouseOut="testoff();">{{ pg1 }}</a>
        and
        <a id="toplink_pg2" href="/pgview/{{ pg2 }}">{{ pg2 }}</a>
      </h1>
      <p id="graphimg">
        {{ graph_title }}
        <br />
        <img src="/img/{{ imgfilename }}" />
      </p>
      {# Tooltip #}
      {% comment %}
      {% for func in result %}
      <div class="dtip" id="tip_rmpg1_{{ forloop.counter0 }}" style="display:none;">
        {{ func.1|floatformat:5 }}
      </div>
      <div class="dtip" id="tip_rmpg2_{{ forloop.counter0 }}" style="display:none;">
        {{ func.3|floatformat:5 }}
      </div>
      {% endfor %}
      {% endcomment %}
      {# Tooltip End #}
      <div id="cmp">
        <h1 id="cmptable">Comparison Table</h1>
        <form method="POST" action="{{ reqparams.path }}" target="_self" id="choiceform">
          <p class="submit_p">
            <input type="submit" value="Create Graph!" />
          </p>
          <table id="cmptable">
            <!-- header -->
            <tr>
              {% for coldef, colname in cols %}
              <th>
                {{ colname }}
                {% if forloop.counter0 > 0 %}
                  {% ifnotequal colname reqparams.order %}
                  <span class="sort_link" onClick="submitform({{ forloop.counter0 }});">
                    &#9660;
                  </span>
                  {% endifnotequal %}
                  <br />
                  <label id="label_graph_y1" for="graph_y1">y1</label>
                  <input name="graph_y1" type="checkbox" value="{{ colname }}"
                         {{ checked_radios.y1|accessdic:forloop.counter0 }}
                         />
                  <label id="label_graph_y1" for="graph_y2">y2</label>
                  <input name="graph_y2" type="checkbox" value="{{ colname }}"
                         {{ checked_radios.y2|accessdic:forloop.counter0 }}
                         />
                {% endif %}
              </th>
              {% endfor %}
            </tr>
            <!-- contents -->
            {% for func in result %}
            <tr{% if forloop.counter0 >= 10 %} style="display:none;" class="hiddentrs"{% endif %}>
              {% for col in func %}
              {% if forloop.counter0 == 0 %}
              <td>
                {{ col }}
              </td>
              {% else %}
              <td class="numeric">
                {{ col|floatformat:3 }}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {# Seemore #}
            {% if forloop.counter0 == 9 %}
              <tr id="seemore_tr">
                <td colspan="{{ result.0|length }}"><a id="seemore_a" href="#cmptable" onClick="seemorefunc();">See more ...</a></td>
              </tr>
            {% endif %}
            {% if forloop.last %}
              <tr id="hide_tr" style="display: none;">
                <td colspan="7"><a id="hide_a" href="#cmptable" onClick="hidefunc();">Hide tail ...</a></td>
              </tr>
            {% endif %}
            {% endfor %}
          </table>
          <p class="submit_p">
            <input type="submit" value="Create Graph!" />
          </p>
          {% include "pgd/newcomp.html" %}
          <p class="submit_p">
            <input type="submit" value="Create Graph!" />
          </p>
          {% include "pgd/columndef.html" %}
          <p class="submit_p">
            <input type="submit" value="Create Graph!" />
          </p>
        </form>
      </div>
      {% endif %}
      <h1 id="resourceinfo">Resource Usage Information</h1>
      <p>total: {{ rd.4 }}, user: {{ rd.0 }}, system: {{ rd.1 }}, inblock: {{ rd.2 }}, outblock: {{ rd.3 }}</p>
    </div>
  </body>
</html>
