<html>
  <head>
    <title>ProfGroup #{{ pg_id }}</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
  </head>
  <body>
    <h1>ProfGroup Detail #{{ pg_id }}</h1>
    <h2>Execution Summary</h2>
    <dl>
      <dt>Application</dt>
      <dd>{{ r_pg.0 }}</dd>
      <dt># of nodes</dt>
      <dd>{{ r_pg.1 }}</dd>
      <dt># of processes</dt>
      <dd>{{ r_pg.2 }}</dd>
      <dt>Place/Location</dt>
      <dd>{{ r_pg.3 }}</dd>
      <dt>Library</dt>
      <dd>{{ r_pg.4 }}</dd>
    </dl>
    <h2>Each Execution Information</h2>
    <p>There {% if pe_num == 1 %}is{% endif %}{% if pe_num > 1 %}are{% endif %} {{ pe_num }} execution logs.</p>
    <table>
      <tr>
        <th>ProfExec ID</th>
        <th>Execution Time</th>
        <th>Start TimeStamp</th>
      </tr>
      {% for pe in r_pgpe %}
      <tr>
        <td>{{ pe.0 }}</td>
        <td>{{ pe.1 }}</td>
        <td>{{ pe.2 }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1>Resource Usage Information</h1>
    <p>total: {{ rd.4 }}, user: {{ rd.0 }}, system: {{ rd.1 }}, inblock: {{ rd.2 }}, outblock: {{ rd.3 }}</p>
  </body>
</html>
