{% load accessdic %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Workflow Comparison</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <script type="text/javascript" src="/resources/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/highcharts/highcharts.js"></script>
    <!-- Graph Generation -->
    <script type="text/javascript"> 
    </script> 
    <!-- Graph Generation End -->
  </head>
  <body>
    <div id="container">
      <h1>Trial {{ trial_id }}</h1>
      <div>
        <h2>Timechart for trial {{ trial_id }}</h2>
        <p>
          Save as
        </p>
        <ul>
          <li>
            <a href="/wft-tc/{{ trial_id }}">PNG</a>
          </li>
        </ul>
        <img src="/wft-tc/{{ trial_id }}" width="800">
      </div>
    </div>
  </body>
</html>
