{% load accessdic %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Workflow Comparison</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <script type="text/javascript" src="/resources/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/highcharts/highcharts.js"></script>
    <!-- Graph Generation -->
    <script type="text/javascript"> 
      var jsondata = {{jsondata|safe}};
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
            chart: {
                    renderTo: 'graph_render',
                    //defaultSeriesType: 'bar',
                    type: 'column',
            },
            title: {
                    text: "Comparison graph for Workflow {{ workflow.name}}"
            },
            subtitle: {
                    text: null
            },
            xAxis: {
                    categories: jsondata.categories,
                    title: {
                            text: null
                    }
            },
            yAxis: jsondata.yaxis,
            tooltip: {
                    formatter: function() {
                            return ''+
                                     this.series.name +': '+ this.y;
                    }
            },
            plotOptions: {
                    bar: {
                            dataLabels: {
                                    enabled: false
                            }
                    }
            },
            legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -100,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: '#FFFFFF',
                    shadow: true
            },
            credits: {
                    enabled: false
            },
            series: jsondata.series
          });
          {% if userdefinedsql %}
            chart.series[0].hide();
          {% else %}
            for(var i = 4; i < chart.series.length; i++) {
                chart.series[i].hide();
            }
          {% endif %}
      });
    </script> 
    <!-- Graph Generation End -->
  </head>
  <body>
    <div id="container">
      <h1>Workflow {{ workflow.name }}</h1>
      <div>
        <h2>Graph</h2>
        <!-- Graph will be rendered here -->
        <div id='graph_render'
             style='width: 800px; height: 600px;background-color: black'>
        </div>
        <h2>Comparison Table</h2>
        <table id="cmptable">
          <!-- Column Names -->
          <tr>
            {% for col in columnsf %}
            <th>{{ col.1 }}</th>
            {% endfor %}
            {% for col in columns %}
            <th>{{ col.1 }}</th>
            {% endfor %}
          </tr>
          {% for rec in drows %}
          <tr>
            <!-- Fixed Columns Contents -->
              {% for col in columnsf %}
              {% if forloop.counter0 == 0 %}
              <td>{{ rec|accessprop:col.1 }}</td>
              {% else %}
              <td class="numeric">{{ rec|accessprop:col.1 }}</td>
              {% endif %}
              {% endfor %}
            <!-- Non-Fixed Columns Contents -->
              {% for col in columns %}
              <td class="numeric">{{ rec|accessprop:col.1 }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <div id="coldef_d">
        <h1 id="coldef">Column Definitions</h1>
        <form method="POST">
          <div>
            <div style="float: left;">
              <table id="coldef_table">
                <tr>
                  <th>Column Name</th>
                  <th>Column definition SQL</th>
                  <th>ORDER BY</th>
                </tr>
                {# Columns Fixed #}
                {% for column in columnsf %}
                <tr>
                  <td>
                    <input type="text" name="colname_{{ forloop.counter0 }}" size="20"
                           value="{{ column.1 }}" class="fixedcolumn" disabled="disabled" />
                  </td>
                  <td>
                    <input type="text" name="coldef_{{ forloop.counter0 }}" size="40"
                           value="{{ column.0 }}" class="fixedcolumn" disabled="disabled" />
                  </td>
                  <td>
                    <input type="radio" name="order" value="{{ forloop.counter0 }}"/>
                  </td>
                </tr>
                {% endfor %}
                {# Fixed columns End #}
                {# Columns currently used #}
                {% for column in columns %}
                <tr>
                  <td>
                    <input type="text" name="colname_{{ forloop.counter0 }}" size="20"
                           value="{{ column.1 }}" />
                  </td>
                  <td>
                    <input type="text" name="coldef_{{ forloop.counter0 }}" size="40"
                           value="{{ column.0 }}" />
                  </td>
                  <td>
                    <input type="radio" name="order" value="{{ forloop.counter0 }}"
                           />
                  </td>
                </tr>
                {% endfor %}
                {# Columns currently used End #}
                {# New Columns #}
                {% for x in coldef_params.newcols %}
                <tr>
                  <td>
                    <input type="checkbox" name="use_flag_new" value="{{ x }}" />
                  </td>
                  <td>
                    <input type="text" name="new_colname_{{ x }}" size="10" value="" />
                  </td>
                  <td>
                    <input type="text" name="new_coldef_{{ x }}" size="40" value="" />
                  </td>
                  <td>
                    <input type="radio" name="order" value="{{ cols|length|add:x }}" />
                  </td>
                </tr>
                {% endfor %}
                {# New Columns End #}
              </table>
            </div>
            <div style="float: left;">
              <p>
                <input type="submit" value="Query with the table" />
              </p>
            </div>
          </div>
        </form>
        <div style="float: left;">
          <h3>Specify Your own SQL Query?</h3>
          <form method="POST">
            <div style="float: left;">
              <textarea name="userdefinedsql" rows="50" cols="80">{{ sqlstring }}</textarea>
              <p style="float: none;">
                <input type="submit" value="Query with your SQL" />
              </p>
            </div>
          </form>
        </div>
        <div id="coldef_refs">
          <h2>View Definition</h2>
          <pre>{{vschema}}</pre>
        </div>
      </div>
    </div>
  </body>
</html>
