{% load accessdic %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Workflow Information</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <!--script type="text/javascript" src="/script/p.js"></script-->
  </head>
  <body>
    <div id="container">
      <h1>Workflow {{ workflow.name }}</h1>
      <div>
        <h2>Applications in {{ workflow.name }}</h2>
        <table id="cmptable">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          {% for app in apps %}
          <tr>
            <td class="numeric">{{ app.id }}</td>
            <td>{{ app.name }}</td>
          </tr>
          {% endfor %}
        </table>
        <h2>Conditions</h2>
        <table id="cmptable">
          <tr>
            <th>Condition ID</th>
            <th>Location</th>
            <th>Filesystem</th>
            <th>Worker #</th>
            <th>Input Dataset</th>
            <th>Average Time [sec]</th>
            <th># of Trials</th>
            <th>SUM of elapsed local [sec]</th>
            <th>User Time [sec]</th>
            <th>Estimated I/O [sec]</th>
          </tr>
          {% for cond in conds %}
          <tr>
            <td class="numeric">
              <a href="/wfcinfo/{{ workflow.id }}/{{ cond.wfc_id }}">
                {{ cond.wfc_id }}
              </a>
            </td>
            <td>{{ cond.location }}</td>
            <td>{{ cond.filesystem }}</td>
            <td class="numeric">{{ cond.worker_num }}</td>
            <td>{{ cond.input_dataset }}</td>
            <td class="numeric">{{ cond.elapsed }}</td>
            <td class="numeric">{{ cond.num_trials }}</td>
            <td class="numeric">{{ cond.elapsed_local|floatformat:2 }}</td>
            <td class="numeric">{{ cond.time_user|floatformat:2 }}</td>
            <td class="numeric">{{ cond.est_io|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </table>
        <h2>Comparison Pair</h2>
        <table>
          {% for condout in conds %}
          <tr>
            {% for condin in conds %}
            <td>
              {% if not condin.wfc_id == condout.wfc_id %}
              <a href="/wfdiff/{{ workflow.id }}/{{ condout.wfc_id }}/{{ condin.wfc_id }}/">
                {{ condout.wfc_id }}-{{ condin.wfc_id }}
              </a>
              {% else %}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
