{% load accessdic %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Workflow Information</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <script type="text/javascript" src="/resources/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/script/condinfo.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      var csrf_token = "{% csrf_token %}";
    </script>
    <div id="container">
      <h1>Workflow <a href="/wfinfo/{{ workflow.id }}">{{ workflow.name }}</a></h1>
      <div>
        <h2>Applications in {{ workflow.name }}</h2>
        <table id="cmptable">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          {% for app in apps %}
          <tr>
            <td class="numeric">{{ app.id }}</td>
            <td>{{ app.name }}</td>
          </tr>
          {% endfor %}
        </table>
        <h2>Trials</h2>
        <table id="cmptable">
          <tr>
            <th>Trial ID</th>
            <th>Location</th>
            <th>Filesystem</th>
            <th>Worker #</th>
            <th>Input Dataset</th>
            <th>Execution Time [sec]</th>
            <th>TimeChart Link</th>
            <th>Enabled</th>
          </tr>
          {% for trial in trials %}
          <tr>
            <td class="numeric">{{ trial.id }}</td>
            <td>{{ trial.location }}</td>
            <td>{{ trial.filesystem }}</td>
            <td class="numeric">{{ trial.worker_num }}</td>
            <td>{{ trial.input_dataset }}</td>
            <td class="numeric">{{ trial.elapsed }}</td>
            <td><a href="/wft-tcw/{{ trial.id }}">Timechart</a></td>
            <td class="cb">
              <input name="wf_enable" type="checkbox" id="wfe_{{ trial.id }}" onChange="javascript:valueChanged({{ trial.id }});"
                     {% if trial.enabled == 1 %}
                     checked="checked"
                     {% endif %}
                     />
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cb"><input type="button" value="Switch" onClick="javascript:submitChanges();" /></td>
          </tr>
        </table>
        <h2>Metainfo</h2>
        <p>Elapsed Local: {{ agginfo.elapsed_local }} sec, UserTime: {{ agginfo.time_user }}, Estimated I/O: {{agginfo.est_io}}</p>
        <h2>Resource Usage</h2>
        <p>Total: {{ processingtime }}, User: {{ rusage.utime }}, System: {{ rusage.stime }}</p>
      </div>
    </div>
  </body>
</html>
